
<div class="clearfix"></div>
<div class="py-3" id="shk-comments"></div>

<script src="{{ asset('bundles/comments/js/comments.js') }}" defer></script>

<script>
    var shkComments;
    document.addEventListener('DOMContentLoaded', function() {
        shkComments = new ShkComments({
            baseUrl: '/comments',
            threadId: '{{ id }}',
            selector: '#shk-comments',
            loadingClass: 'shopping-cart-loading',
            onAddSuccess: function(data) {
                const messageHtml = '<div class="alert alert-info" id="shk-comments-message">{{ "Comment will be published after verification." | trans }}</div>',
                    messageEl = document.createElement('div');
                messageEl.innerHTML = messageHtml;
                shkComments.getThreadHtml(function() {
                    const formEl = shkComments.getContainer().querySelector('form');
                    formEl.insertBefore(messageEl, formEl.firstChild);
                    setTimeout(function() {
                        messageEl.parentNode.removeChild(messageEl);
                    }, 3500);
                });
            }
        });
    });
</script>
