
<div class="clearfix"></div>
<div class="py-3" id="shk-comments"></div>

<script src="{{ asset('bundles/comments/js/comments.js') }}" defer></script>

<script>
    var shkComments;
    document.addEventListener('DOMContentLoaded', function() {
        shkComments = new ShkComments({
            baseUrl: '/comments',
            threadId: '{{ id }}',
            selector: '#shk-comments',
            loadingClass: 'shopping-cart-loading',
            onAddSuccess: function(data) {
                if (data.form) {
                    shkComments.getContainer().querySelector('form').outerHTML = data.form;
                    shkComments.formSubmitInit();
                }
            }
        });
    });
</script>
