<div class="card card-body">
    <h4>{{ 'Add Comment' | trans }}</h4>

    <div class="mb-3">
        {% include '@Comments/Default/add_comment_form.html.twig' %}
    </div>
    {% if comments | length > 0 %}
        <div>
            {% for comment in comments %}
                <div class="card card-body mb-3">
                    {{ comment.comment }}
                </div>
            {% endfor %}
        </div>
    {% elseif is_granted('ROLE_USER') %}
        <div class="alert alert-secondary">{{ 'Your review will be the first.' | trans }}</div>
    {% endif %}

</div>
