<?php

namespace App\Repository;

// use Andchir\CommentsBundle\Repository\CommentAdminRepositoryAbstract; // For Shopkeeper4
use Andchir\CommentsBundle\Repository\CommentRepositoryAbstract;

// class CommentRepository extends CommentAdminRepositoryAbstract // For Shopkeeper4
class CommentRepository extends CommentRepositoryAbstract
{

}
