<div>
    <form [formGroup]="form" #formEl>

        <div class="grid align-content-start mb-3 mt-0 border-round border-1 surface-200 border-400" *ngIf="model.author">
            <div class="col-6">
                {{ 'AUTHOR' | translate }}:
            </div>
            <div class="col-6">
                <i class="pi pi-user mr-2"></i>
                <a href="{{ baseUrl }}admin/#/users/{{ model.author.email }}">{{ model.author.email }}</a>
            </div>
        </div>

        <div class="grid mb-3">
            <div class="col-12 md:col-4">
                <label class="block mb-2" for="fieldThreadId">
                    {{ 'THREAD_ID' | translate }}
                </label>
                <input type="text" id="fieldThreadId" class="w-full mb-2" pInputText
                       autocomplete="off"
                       formControlName="threadId">
            </div>
            <div class="col-12 md:col-4">
                <label class="block mb-2" for="fieldVote">
                    {{ 'VOTE' | translate }}
                </label>
                <input type="number" id="fieldVote" class="w-full mb-2" pInputText
                       autocomplete="off"
                       min="1"
                       max="5"
                       formControlName="vote">
            </div>
            <div class="col-12 md:col-4">
                <label class="block mb-2" for="fieldStatus">
                    {{ 'STATUS' | translate }}
                </label>
                <p-dropdown styleClass="w-full"
                        [options]="statusesOpts"
                        optionLabel="title"
                        optionValue="name"
                        formControlName="status"></p-dropdown>
            </div>
        </div>

        <div class="mb-3">
            <label class="block mb-2" for="fieldComment">
                {{ 'COMMENT' | translate }}
            </label>
            <textarea [rows]="4" pInputTextarea autoResize="autoResize" id="fieldComment" class="w-full"
                      autocomplete="off"
                      formControlName="comment"></textarea>
        </div>

        <div class="mb-3">
            <label class="block mb-2" for="fieldReply">
                {{ 'REPLY' | translate }}
            </label>
            <textarea [rows]="4" pInputTextarea autoResize="autoResize" id="fieldReply" class="w-full"
                      autocomplete="off"
                      formControlName="reply"></textarea>
        </div>

        <div role="separator" class="p-divider p-component p-divider-horizontal p-divider-solid p-divider-left">
            <div class="p-divider-content"></div>
        </div>

        <p-message styleClass="block w-full text-left mb-3" severity="error"
                   [text]="errorMessage"
                   *ngIf="errorMessage"></p-message>

        <div class="grid mt-2">
            <div class="col-12 md:col-6">
                <button pButton pRipple type="button" [label]="'SAVE_AND_CLOSE' | translate" icon="pi pi-check"
                        class="p-button-success p-button-raised w-full"
                        (click)="saveData(true, $event)"></button>
            </div>
            <div class="col-12 md:col-3">
                <button pButton pRipple type="button" [label]="'SAVE' | translate" icon="pi pi-check"
                        class="p-button-warning p-button-raised w-full"
                        (click)="saveData(false, $event)"></button>
            </div>
            <div class="col-12 md:col-3">
                <button pButton pRipple type="button" [label]="'CLOSE' | translate"
                        class="p-button-secondary p-button-raised w-full"
                        (click)="dismissModal($event)"></button>
            </div>
        </div>
    </form>
</div>

<div class="loading-overlay" *ngIf="loading">
    <p-progressSpinner></p-progressSpinner>
</div>
